.card-header {
    padding: 0 0;
}
.card-body {
    padding: 0.7rem;
}

table.dataTable tbody td {
    padding: .3rem;
}
.table>:not(caption)>*>* {
    padding: 0.2rem;
}



.admin-dashboard-table{
    overflow-x: scroll;
}
.admin-dashboard-table table thead tr th{
    padding-right: 1    0px !important;
}

/* .tab-content{
    input{
        width: 100% !important;
    }
}    */


@media screen and (max-width: 500px) {
    .admin-dashboard-table{
        padding: 20px 0px;
    }
}